In [1]:
# Data evaluation of the questionnaire
# https://forms.gle/TiY3p9WSkGV8mNKk6

# importing packages
import pandas as pd
#from lxml import etree
import os.path, time

import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#import requests
#import json

import mlnotify 
# https://github.com/aporia-ai/mlnotify
# Use %%notify at beginning of cell


#inNotebook = True # change this to True if you use a notebook
#def nextplot():
#    if inNotebook:
#        plt.figure()  # this creates a new plot
#    else:
#        plt.clf()     # and this clears the current one

!python --version
print('------------')
print("Pandas " + pd.__version__)
print("Numpy " + np.__version__)
print("Seaborn " + sns.__version__)

Python 3.7.6
------------
Pandas 1.3.4
Numpy 1.18.1
Seaborn 0.11.2

In [2]:
# create single .csv-files per translated category
df_european_capital_cities_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_european_capital_cities_prep.csv', sep=';', encoding='utf-8')
df_lakes_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_lakes_prep.csv', sep=';', encoding='utf-8')
df_mountains_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_mountains_prep.csv', sep=';', encoding='utf-8')
df_european_countries_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_european_countries_prep.csv', sep=';', encoding='utf-8')
df_asian_countries_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_asian_countries_prep.csv', sep=';', encoding='utf-8')
df_continents_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_continents_prep.csv', sep=';', encoding='utf-8')
df_birds_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_birds_prep.csv', sep=';', encoding='utf-8')
df_african_animals_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_african_animals_prep.csv', sep=';', encoding='utf-8')
df_furniture_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_furniture_prep.csv', sep=';', encoding='utf-8')
df_vegetables_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_vegetables_prep.csv', sep=';', encoding='utf-8')
df_fast_food_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_fast_food_prep.csv', sep=';', encoding='utf-8')
df_european_landmarks_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_european_landmarks_prep.csv', sep=';', encoding='utf-8')
df_cities_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_cities_prep.csv', sep=';', encoding='utf-8')

# create single .csv-files per category that where not translated
df_nineties_movies_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_film90_prep.csv', sep=';', encoding='utf-8')
df_actors_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_actors_prep.csv', sep=';', encoding='utf-8')
df_music_genres_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_music_genres_prep.csv', sep=';', encoding='utf-8')
df_books_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_books_prep.csv', sep=';', encoding='utf-8')
df_authors_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_authors_prep.csv', sep=';', encoding='utf-8')
df_politicians_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_politicians_prep.csv', sep=';', encoding='utf-8')
df_us_presidents_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_potus_prep.csv', sep=';', encoding='utf-8')
df_dax_companies_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_dax_companies_prep.csv', sep=';', encoding='utf-8')
df_us_companies_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_us_companies_prep.csv', sep=';', encoding='utf-8')
df_us_tech_companies_prep = pd.read_csv('../data/survey_single_cat_files/sv_prep_uri/sv_us_tech_companies_prep.csv', sep=';', encoding='utf-8')

In [4]:
df_european_capital_cities_prep

,european_capital_cities,p_age,p_gender,p_education,p_country,p_id,uri
0,berlin,26,Male,Bachelor's degree,Germany,0,http://dbpedia.org/resource/Berlin
1,paris,26,Male,Bachelor's degree,Germany,0,http://dbpedia.org/resource/Paris
2,london,26,Male,Bachelor's degree,Germany,0,http://dbpedia.org/resource/London
3,amsterdam,44,Male,Doctorate (e.g. PhD),Germany,1,http://dbpedia.org/resource/Amsterdam
4,berlin,44,Male,Doctorate (e.g. PhD),Germany,1,http://dbpedia.org/resource/Berlin
...,...,...,...,...,...,...,...
321,rome,50,Female,Doctorate (e.g. PhD),Germany,107,http://dbpedia.org/resource/Rome
322,london,50,Female,Doctorate (e.g. PhD),Germany,107,http://dbpedia.org/resource/London
323,vienna,45,Female,Doctorate (e.g. PhD),Germany,108,http://dbpedia.org/resource/Vienna
324,berlin,45,Female,Doctorate (e.g. PhD),Germany,108,http://dbpedia.org/resource/Berlin
325,moscow,45,Female,Doctorate (e.g. PhD),Germany,108,http://dbpedia.org/resource/Moscow

In [8]:
df_european_landmarks_prep.head(50)

,european_landmarks,p_age,p_gender,p_education,p_country,p_id,uri
0,eiffel tower,26,Male,Bachelor's degree,germany,0,http://dbpedia.org/resource/Eiffel_Tower
1,brandenburg gate,26,Male,Bachelor's degree,germany,0,http://dbpedia.org/resource/Brandenburg_Gate
2,colosseum,26,Male,Bachelor's degree,germany,0,http://dbpedia.org/resource/Colosseum
3,eiffel tower,44,Male,Doctorate (e.g. PhD),germany,1,http://dbpedia.org/resource/Eiffel_Tower
4,towerbridge,44,Male,Doctorate (e.g. PhD),germany,1,http://dbpedia.org/resource/Keith_Towbridge
5,leaning tower of pisa,44,Male,Doctorate (e.g. PhD),germany,1,http://dbpedia.org/resource/Leaning_Tower_of_Pisa
6,eiffel tower,46,Male,Bachelor's degree,france,2,http://dbpedia.org/resource/Eiffel_Tower
7,leaning tower of pisa,46,Male,Bachelor's degree,france,2,http://dbpedia.org/resource/Leaning_Tower_of_Pisa
8,stonehenge,46,Male,Bachelor's degree,france,2,http://dbpedia.org/resource/Stonehenge
9,eiffel tower,28,Male,Master's degree,germany,3,http://dbpedia.org/resource/Eiffel_Tower
10,brandenburg gate,28,Male,Master's degree,germany,3,http://dbpedia.org/resource/Brandenburg_Gate
11,london eye,28,Male,Master's degree,germany,3,http://dbpedia.org/resource/London_Eye
12,eiffel tower,34,Female,Master's degree,switzerland,4,http://dbpedia.org/resource/Eiffel_Tower
13,big ben,34,Female,Master's degree,switzerland,4,http://dbpedia.org/resource/V8_engine
14,manneken pis,34,Female,Master's degree,switzerland,4,http://dbpedia.org/resource/Manneken_Pis
15,eiffel tower,27,Male,Bachelor's degree,germany,5,http://dbpedia.org/resource/Eiffel_Tower
16,brandenburg gate,27,Male,Bachelor's degree,germany,5,http://dbpedia.org/resource/Brandenburg_Gate
17,neuschwanstein castle,27,Male,Bachelor's degree,germany,5,http://dbpedia.org/resource/Neuschwanstein_Castle
18,brandenburg gate,27,Male,Master's degree,germany,6,http://dbpedia.org/resource/Brandenburg_Gate
19,big ben,27,Male,Master's degree,germany,6,http://dbpedia.org/resource/V8_engine
20,tower bridge,27,Male,Master's degree,germany,6,http://dbpedia.org/resource/Tower_Bridge
21,eiffel tower,27,Male,Master's degree,germany,7,http://dbpedia.org/resource/Eiffel_Tower
22,brandenburg gate,27,Male,Master's degree,germany,7,http://dbpedia.org/resource/Brandenburg_Gate
23,london eye,27,Male,Master's degree,germany,7,http://dbpedia.org/resource/London_Eye
24,odenwald,28,Male,High school degree or equivalent,germany,8,http://dbpedia.org/resource/Erbach_im_Odenwald
25,alps,28,Male,High school degree or equivalent,germany,8,http://dbpedia.org/resource/Pennine_Alps
26,cotedazur,28,Male,High school degree or equivalent,germany,8,NaN
27,brandenburg gate,29,Male,Master's degree,germany,9,http://dbpedia.org/resource/Brandenburg_Gate
28,colosseum,29,Male,Master's degree,germany,9,http://dbpedia.org/resource/Colosseum
29,eiffel tower,29,Male,Master's degree,germany,9,http://dbpedia.org/resource/Eiffel_Tower
30,zugspitze,26,Male,Master's degree,germany,10,http://dbpedia.org/resource/Zugspitze
31,externals,37,Male,Master's degree,germany,11,http://dbpedia.org/resource/Externals
32,rock sea,37,Male,Master's degree,germany,11,http://dbpedia.org/resource/Grunge
33,rheinfall,37,Male,Master's degree,germany,11,http://dbpedia.org/resource/Neuhausen_am_Rhein...
34,eiffel tower,24,Male,Master's degree,germany,12,http://dbpedia.org/resource/Eiffel_Tower
35,brandenburg gate,24,Male,Master's degree,germany,12,http://dbpedia.org/resource/Brandenburg_Gate
36,neuschwanstein castle,24,Male,Master's degree,germany,12,http://dbpedia.org/resource/Neuschwanstein_Castle
37,eiffel tour,26,Female,Master's degree,germany,13,http://dbpedia.org/resource/Eiffel_Tower
38,colosseum,26,Female,Master's degree,germany,13,http://dbpedia.org/resource/Colosseum
39,neuschwanstein castle,26,Female,Master's degree,germany,13,http://dbpedia.org/resource/Neuschwanstein_Castle
40,colosseum,26,Female,Master's degree,germany,14,http://dbpedia.org/resource/Colosseum
41,neuschwanstein castle,26,Female,Master's degree,germany,14,http://dbpedia.org/resource/Neuschwanstein_Castle
42,leaning tower of pisa,26,Female,Master's degree,germany,14,http://dbpedia.org/resource/Leaning_Tower_of_Pisa
43,eiffel tower,28,Female,Doctorate (e.g. PhD),germany,15,http://dbpedia.org/resource/Eiffel_Tower
44,neuschwanstein castle,28,Female,Doctorate (e.g. PhD),germany,15,http://dbpedia.org/resource/Neuschwanstein_Castle
45,colosseum,28,Female,Doctorate (e.g. PhD),germany,15,http://dbpedia.org/resource/Colosseum
46,eiffel tower,25,Male,NaN,germany,16,http://dbpedia.org/resource/Eiffel_Tower
47,atomium,25,Male,NaN,germany,16,http://dbpedia.org/resource/Atomium_-_European...
48,eiffel tower,31,Female,Master's degree,germany,17,http://dbpedia.org/resource/Eiffel_Tower
49,tower bridge,31,Female,Master's degree,germany,17,http://dbpedia.org/resource/Tower_Bridge